extends layout

block main
    h1 New book
    form(method="post" action="/books/new")
        if errors
            h2.error Opps!
            ul.error
                each err in errors
                    li= err.message
        p
            label(for="title") Title
            input#title(type="text" name="title" value=book.title)
        p
            label(for="author") Author
            input#author(type="text" name="author" value=book.author)
        p  
            label(for="genre") Genre
            input#genre(type="text" name="genre" value=book.genre)
        p
            label(for="year") Year
            input#year(type="text" name="year" value=book.year)
        p
            input(type="submit" avlue="Create New Book")
        p 
            a.button(href="/books") Cancel